aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
certifi
charset-normalizer
click
colorama
datasets
dill
filelock
flatbuffers
frozenlist
fsspec
huggingface-hub
idna
joblib
multidict
multiprocess
numpy
onnx
onnxruntime
packaging
pandas
protobuf
pyarrow
pyparsing
python-dateutil
pyt
PyYAML
regex
requests
sacremoses
scikit-learn
scipy
six
soupsieve
threadpoolctl
tokenizers
tqdm
transformers[torch]
typing-extensions
urllib3
xxhash
yarl
psutil
matplotlib